Repository coder/code-server, pull requests merged in 2021-08, with the labels that each got.

#3899 chore: bump tar with resolutions
  package.json
  test/package.json
  test/yarn.lock
  yarn.lock
Labels: chore, dependencies, security

#3895 fix(lib/vscode): patch authority in asWebviewUri
  lib/vscode/src/vs/workbench/api/common/shared/webview.ts
  lib/vscode/src/vs/workbench/contrib/webview/browser/pre/service-worker.js
Labels: bug

#3903 docs: create link.md
  docs/README.md
  docs/link.md
  docs/manifest.json
Labels: docs

#3892 feat(ci): armv7 cross builds
  .github/workflows/ci.yaml
  ci/build/arch-override.json
  ci/build/build-packages.sh
  ci/build/nfpm.yaml
Labels: ci

#3935 fix(lib/vscode): remove symlink in npm package
  ci/build/build-release.sh
Labels: ci

#3934 chore: fix docs version to only use latest
  docs/manifest.json
Labels: docs, ci

#3950 chore: fix path-parse vulnerability
  package.json
  yarn.lock
Labels: security, dependencies, chore

#3958 chore: add docs preview workflow
  .github/workflows/docs-preview.yaml
Labels: docs, chore

#3954 fix: add symlink to npmignore
  ci/steps/publish-npm.sh
Labels: chore

#4015 improve npm/yarn install flow and add Windows 10 instructions
  docs/install.md
  docs/npm.md
Labels: docs

#4020 chore: add example for parameter/value to Helm Values
  ci/helm-chart/values.yaml
Labels: docs

#4031 docs: add how to change port
  docs/FAQ.md
Labels: docs

#4033 docs: add proxying a vue app
  docs/guide.md
Labels: docs

#4032 docs: add note about npm logging
  docs/npm.md
Labels: docs

#4028 fix(docs): use latest instead of version in links
  docs/README.md
  docs/requirements.md
  install.sh
Labels: docs

#4037 docs: fix typos and wording in npm
  docs/npm.md
Labels: docs

#4035 refactor: move helm README to docs/helm.md
  ci/helm-chart/README.md
  docs/helm.md
  docs/install.md
  docs/manifest.json
Labels: docs

#4055 feat(testing): add tests for src/browser/pages/vscode to hit 100% coverage
  src/browser/pages/vscode.ts
  test/package.json
  test/unit/browser/pages/vscode.test.ts
  test/yarn.lock
Labels: testing
